<#include "framepublic.html">
<img src="template/assets/images/cup.png" style="width:8em; margin-bottom:2em; margin-left:40%;">
<section class="panel">

							<header class="panel-heading">
								<div class="panel-actions">
									<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
									<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
								</div>
						
								<h2 class="panel-title">Classifica</h2>
							</header>
							
							<#if challengeList?first ??>
							<div class="panel-body">
								<table class="table table-bordered table-striped mb-none" id="datatable-default">
									<thead>
										<tr>
											<th>Posizione</th>
											<th>Nome</th>
											<th>Km totali</th>
										</tr>
									</thead>
									<tbody>
										<#list challengeList as list> 
										<tr class="gradeA">
											<td>${list?index+1}</td>
											<td>${list.name}</td>
											<td>${list.totKm?c}</td>
										</tr>
										</#list>
									</tbody>
								</table>
							</div>
							<#else>
							<p>Device non presenti </p>
							</#if>
						</section>

<#include "footer.html">
