<#include "framepublic.html">
					<!-- start: page -->
					<div class="row">
						<div class="col-md-6 col-lg-12 col-xl-6">
							<section class="panel">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-4">
											<div class="chart-data-selector" id="salesSelectorWrapper">
												<h2>
													Report Settimanale
													
												</h2>
												</br>
											<section class="panel panel-featured-left panel-featured-primary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-primary">
														<i class="fa fa-spinner"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Percorso</h4>
														<div class="info">
															<strong class="amount">${weekKm?c} km</strong>
															</br>
															<span class="text-primary">In ${weekTime?c} minuti</span>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</section>
										</div>
										
									</div>
								
								</div>
								
								
							</section>
							
						</div>
						<div class="col-md-6 col-lg-12 col-xl-6">
							<div class="row">
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-primary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-primary">
														<i class="fa fa-list"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Report Mensile</h4>
														
														<div class="info">
															<strong class="amount">${monthKm?c} km</strong>
															<span class="text-primary">(${monthTime} min)</span>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-secondary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-secondary">
														<i class="fa fa-tint"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Calorie bruciate</h4>
														<h5>Calcolo mensile approssimativo, servirebbero più informazioni per un calcolo dettagliato</h5>
														<div class="info">
															<strong class="amount">${monthCal?c} cal</strong>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-tertiary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-tertiary">
														<i class="fa fa-university"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Località percorse</h4>
														<div class="info">
															<strong class="amount">${localitapercorse}</strong>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-quartenary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-quartenary">
														<i class="fa fa-users"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Amici</h4>
														<div class="info">
															<strong class="amount">${friendNumber?c}</strong>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						
						<div class="col-xl-6 col-lg-12">
							<section class="panel">
								<header class="panel-heading panel-heading-transparent">
									<div class="panel-actions">
										<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
										<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
									</div>
							<#if events?first ??>
									<h2 class="panel-title">Registro attività</h2>
								</header>
								<div class="panel-body">
									<div class="timeline timeline-simple mt-xlg mb-md">
										<div class="tm-body">
											
											<ol class="tm-items">
											<#list events as event>
												<li>
													<div class="tm-box">
														<p class="text-muted mb-none">${event.timestamp}</p>
														<p>
															${event.description}
														</p>
													</div>
												</li>
												</#list>
											</ol>
										</div>
									</div>
								</div>
								</#if>
							</section>
						</div>
					</div>
					
				<#include "footer.html">