<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>pages-signin</welcome-file>
    </welcome-file-list>
    
    
    
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>tracker.servlet.Index</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>tracker.servlet.Login</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>tracker.servlet.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDevice</servlet-name>
        <servlet-class>tracker.servlet.ListDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupDevice</servlet-name>
        <servlet-class>tracker.servlet.SignupDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDevice</servlet-name>
        <servlet-class>tracker.servlet.DeleteDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupModule</servlet-name>
        <servlet-class>tracker.servlet.SignupModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListModule</servlet-name>
        <servlet-class>tracker.servlet.ListModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteModule</servlet-name>
        <servlet-class>tracker.servlet.DeleteModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleDetail</servlet-name>
        <servlet-class>tracker.servlet.ModuleDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>tracker.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PathController</servlet-name>
        <servlet-class>tracker.servlet.PathController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>MeteoController</servlet-name>
        <servlet-class>tracker.servlet.MeteoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friends</servlet-name>
        <servlet-class>tracker.servlet.Friends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChallengeController</servlet-name>
        <servlet-class>tracker.servlet.ChallengeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KuraController</servlet-name>
        <servlet-class>tracker.servlet.KuraController</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>tracker.servlet.Messages</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/pages-signin</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/pages-signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDevice</servlet-name>
        <url-pattern>/devicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupDevice</servlet-name>
        <url-pattern>/device-signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDevice</servlet-name>
        <url-pattern>/deletedevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupModule</servlet-name>
        <url-pattern>/module-signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListModule</servlet-name>
        <url-pattern>/modulelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteModule</servlet-name>
        <url-pattern>/deletemodule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ModuleDetail</servlet-name>
        <url-pattern>/module_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>PathController</servlet-name>
        <url-pattern>/pathcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>MeteoController</servlet-name>
        <url-pattern>/meteo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Friends</servlet-name>
        <url-pattern>/friends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ChallengeController</servlet-name>
        <url-pattern>/challengecontroller</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    <servlet-name>KuraController</servlet-name>
        <url-pattern>/kuracontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Messages</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <resource-ref>
        <res-ref-name> BiblioManager </res-ref-name>
        <res-type>javaxx.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
